{%extends 'cms/base.html' %}
{%block content%}

{% include 'accounts/status.html' %}

<hr>
<div class="row">
    <div class="col md-3">
        <h5>Customers</h5>
        <hr>
        <div class="card card-body">
            <a href="#" class="btn btn-primary">Create Customer</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Customers</th>
                    <th scope="col">Info</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {%for customer in customers %}
                  <tr>
                    <td>
                      {{customer.name}}
                    </td>
                    <td>
                      {{customer.email}}
                    </td>
                    <td><a href="{% url 'accounts:customer' pk=customer.pk %}">View</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

 <div class="col md-9">  
    <h5>Recent Orders</h5>
    <hr>
        <div class="card card-body">
          <a href="#" class="btn btn-primary">View all Orders</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Ordered On</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>  
            <tbody>
              {%for order in orders %}
              <tr>
                <td>{{order.product}}</td>
                <td>{{order.date_ordered}}</td>
                <td>{{order.status}}</td>
                <td><a href="{%url 'accounts:update' pk=order.pk%}" class="btn btn-success btn-sm">Update</a></td>
                <td><a href="{%url 'accounts:delete' pk=order.pk %}" class="btn btn-danger btn-sm">Remove</a></td>
              </tr>
              {%endfor%}
            </tbody>         
          </table>
      </div> 
</div> 
</div>
{%endblock%}