<hr>
<div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Total Orders</h5>
            <div class="card-body">
              <p class="card-text">{{total_o}}</p>      
            </div>
          </div>
    </div>


    <div class="col">
        <div class="card">
            <h5 class="card-header">Orders Completed</h5>
            <div class="card-body">
              <p class="card-text">{{delivered}}</p>      
            </div>
          </div>
    </div>



    <div class="col">
        <div class="card">
            <h5 class="card-header">Orders Pending</h5>
            <div class="card-body">
              <p class="card-text">{{pending}}</p>             
            </div>
          </div>
    </div>
</div>