<hr>
<div class="row">
    <div class="col">
        <div class="card text-white bg-info mb-3">
            <h5 class="card-header">Total Orders</h5>
            <div class="card-body">
              <h3 class="card-text">{{total_o}}</h3>      
            </div>
          </div>
    </div>


    <div class="col">
        <div class="card text-white bg-info mb-3">
            <h5 class="card-header">Orders Completed</h5>
            <div class="card-body">
              <h3 class="card-text">{{delivered}}</h3>      
            </div>
          </div>
    </div>



    <div class="col">
        <div class="card text-white bg-info mb-3">
            <h5 class="card-header">Orders Pending</h5>
            <div class="card-body">
              <h3 class="card-text">{{pending}}</h3>             
            </div>
          </div>
    </div>
</div>