<style>
  .user{
    color: #ffffff;
    font-size: 17px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: turquoise;">Decux</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {%if request.user.is_staff %}
      <div class="navbar-nav justify-content-end">
        <a class="nav-item nav-link active" href="{% url 'home' %}">Dashboard<span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="{% url 'accounts:products' %}">Products</a>
        <a class="nav-item nav-link" href="#">Orders</a>
       </div>
       {%endif%}
    </div>
    {%if user.is_authenticated %}
    <span class="user">Welcome, &nbsp;<a style="text-decoration: none; color: tomato;"href="{% url 'accounts:edit' %}">{{ request.user}}</a></span> 
    <a class="user nav-item nav-link" href="{%url 'logout' %}">Logout</a>
    {%endif%}
  </nav>